@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}


body {
    --bigfin-accent: #9fe2ee;
    --bigfin-primary: #131215;
    --bigfin-secondary: #090909;
    --bigfin-text: #ffffff;
    background: var(--bigfin-primary);
    color: var(--bigfin-text);
    padding: 5% 15% 5% 15%;
}

a {
    color: var(--bigfin-accent);
}

